[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
click = "*"
langchain-openai = "*"
typing-extensions = "*"
numpy = "*"

[dev-packages]
bump2version = "*"

[requires]
python_version = "3.10.7"

[scripts]
infuse = "python -m src.app"
